html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body {
    height: 100%;
}

body {
    background: #0F3854;
    background: radial-gradient(ellipse at center, #0A2E38 0%, #000000 70%);
    background-size: 100%;
}

span {
    margin: 0;
    padding: 0;
}

.timer {
    font-family: ‘Share Tech Mono’, monospace;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #DAF6FF;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.field {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.value {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}